/* Global CSS */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --primary: #bba3d9;
  --heading-color: #342f3d;
  --bg-shade: #f5f1f8;
  --github: #a086c4;
  --darkblue: #1c1e53;
  --black: #000000;
  --white: #ffffff;
  --card-shadow: #f5f1f880;
}

.btn {
  font-family: "Roboto";
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transirion: background-color 0.5s;
  -moz-transirion: background-color 0.5s;
  -ms-transirion: background-color 0.5s;
  -o-transirion: background-color 0.5s;
}

.btn-outline-primary {
  color: var(--primary);
  background-color: var(--white);
  border: 1px solid var(--primary);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--primary);
}

.btn-primary {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:hover {
  color: var(--primary);
  background-color: var(--white);
}

.btn-github {
  color: var(--white);
  background-color: var(--github);
  border: var(--github);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.45, green, blue, alpha);
  gap: 16px;
}

.btn-github:hover {
  color: var(--github);
  background-color: var(--white);
}

/* End GLobal */

/* Navbar */
.navbar {
  max-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 0;
  background-color: var(--white);
  box-shadow: 0px 6px 80px 0 var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar--logo {
  width: 80%;
  padding: 0;
}

.navbar--items>ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 42px;
  text-decoration: none;
}

.navbar--items {
  text-decoration: none;
}

.navbar--content {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.navbar--content:hover {
  color: var(--primary);
}

.navbar--active--content {
  color: var(--primary)
}

/* ----- Hamburger Menu ----- */
.nav__hamburger {
  display: none;
  width: 1.8rem;
  height: 1.3rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.18rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.6rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
      display: flex;
      z-index: 200;
  }

  .navbar--items {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255);
      top: -20rem;
      left: 0;
      width: 100%;
      transition: all ease-in-out 0.4s;
      z-index: -1000;
  }

  .navbar--items ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 0.6rem;
      z-index: -100;
  }

  .navbar--items ul li {
      text-align: center;
  }

  .navbar--items ul li a {
      padding: 0.5rem;
  }

  .navbar--items.active {
      top: 30px;
  }

  .nav__hamburger.active :nth-child(1) {
      transform: rotate(45deg) translate(0.45rem, 0.2rem);
  }

  .nav__hamburger.active :nth-child(2) {
      opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
      transform: rotate(-45deg) translate(0.45rem, -0.2rem);
  }
}

/* ----- Hamburger Menu Ends----- */
/* Navbar Ends */

/* Hero Section */
.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 135px 85px 135px;
  align-items: center;
  gap: 32px;
  background-color: var(--bg-shade);
}

.hero--section--content--box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero--section--content--box > button {
  margin-top: 21.33px;
}

.hero--section--title {
  color: var(--heading-color);
  font-size: 75px;
  font-weight: 700;
  line-height: 90px;
  align-self: stretch;
}

.hero--section--title--color {
  color: var(--primary);
}

.hero--section-description {
  color: var(--darkblue);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero--section--img {
  display: flex;
}

.hero--section--img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Hero Section Ends */

/* Services Offered */
.services--section {
  display: flex;
  padding: 150px 85px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 105px;
}

.services--section--heading {
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}

.services--section--container {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  gap: 42px;
  grid-template-columns: repeat(4, 1fr);
}

.services--section--card {
display: flex;
padding: 32px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex: 1 0 0;
border-width: 2px;
border: dashed 2px var(--darkblue);
border-radius: 10px;
background: var(--bg-shade);
min-height: 410px;
box-shadow: 0px 6px 10px var(--primary);
}

.services--section--card:hover {
  box-shadow: 0px 6px 30px var(--primary);
  border-bottom: 5px solid var(--primary);
  color: var(--darkblue);
}

.services--section--icon {
  display: flex;
  padding: 14px;
  justify-content: center;
  gap: 14px;
  align-self: stretch;
  border: dashed 1.5px var(--primary);
  border-radius: 10px;
  background-color: var(--white);
}

.services--section--card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.services--section--title {
  color: var(--heading-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

.services--section--description {
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

/* Skills Ends */

/* About Us */

.about--section {
  display: grid;
  padding: 133px;
  align-items: center;
  gap: 145px;
  grid-template-columns: repeat(2, 1fr);
  color: var(--heading-color);
}

.about--section--img > img {
  width: 100%;
  height: 100%;
}

/* About Us Ends */

/* Portfolio */
.portfolio--section {
  display: flex;
  padding: 112px 85px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
}

.portfolio--container--box {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
}

.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20000px;
}

.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  width: 100%;
}

.portfolio--section--img {
  width: 100%;
}

.portfolio--section--img > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  background-color: var(--bg-shade);
  box-shadow: 0 0 10px var(--primary);
  cursor: pointer;
  border: dashed 2px var(--primary);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.portfolio--section--card:hover {
  box-shadow: 0 0 30px var(--primary);
}

.portfolio--section--card--content {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.portfolio--section--title {
  color: var(--heading-color);
}

.portfolio--link {
  text-decoration: none;
  display: flex;
  gap: 16px;
  border-bottom: 1.3px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 400;
}

.portfolio--link:hover {
  color: var(--primary);
}

.portfolio--section--card:hover path {
  stroke: #006b6a;
}

/* Portfolio Ends */

/* Testimonials */

.testimonials--section {
  display: flex;
  padding: 112px 84px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  background-color: var(--bg-shade);
}

.testimonials--container--box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.testimonials--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}

.testimonials--section--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 21px;
  width: 100%;
}

.sections--heading {
  color: var(--heading-color);
}

.testimonials--section--card {
  display: flex;
  padding: 43px;
  flex-direction: column;
  gap: 43px;
  border-radius: 10px;
  border: 1.5px dashed var(--primary);
}

.testimonials--section--card--review {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.testimonials--section--card-author--detail {
  display: flex;
  align-items: center;
  gap: 21px;
}

.testimonials--author--name {
  font-weight: 700;
  color: var(--heading-color);
}